/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* SETUP: */

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(00 0 0);
  overflow: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 125%;
}

body {
  font-family: "montseratt", sans-serif;
}

.app {
  background-image: url(./assets/cool-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.app.warm {
  background-image: url(./assets/warm-bg.jpg);
}

.body-container {
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(2, 1, 1, 0.30)
  );
}


/* main {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.4)
  );
} */

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.header {
  /* margin-top: 0; */
  background-image: linear-gradient( to top, rgba(255, 107, 107, 0), rgba(53, 146, 246, 0.578));
  border: 0;
  margin: 0px;
}

h1 {
  text-align: center;
  /* background-color: black; */
  color: #fff; 
  margin: 0px;
  padding: 15px;
  font-size: 2.2rem;
  /* font-family: 'Benne', serif; */
  
}

/* h1 i {
  font-size: 0.9rem;
  color: rgb(191, 174, 174);
} */

.search-container {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  /* min-height: 100vh; */
  /* justify-content: center; */
  /* align-items: center; */
  /* padding-top: 10px; */
  /* width: 70%; */
  /* margin: 0 auto; */
  /* background-color: cornsilk; */
}

/* .search-box {
  padding: 30px;
  background-color: rgba(128, 128, 128, 0.304);
  border: 1px solid black;
} */

.search-box .search-bar {
  display: block;
  width: 50%;
  margin: 0 auto;
  padding: 10px;

  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.52);
  border-radius: 5px;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.23);
  color: #262323;
  font-size: 1rem;
}

.search-box .search-bar:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

/* .weather-box .min-max {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
} */

/* .min-max div:nth-of-type(1) {
  margin-right: 20px;
} */

.location-box .location {
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  text-shadow: 3.8px 3.8px rgba(50, 50, 70, 0.5);

  padding-top: 15px;
}

.location-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.location-flex .date {
  color: #fff;
  font-weight: 500;
  text-align: center;
  text-shadow: 2.8px 2.8px rgba(50, 50, 70, 0.5);
  font-size: 1.1rem;
  /* font-family:fantasy; */
  margin-right: 5px;
}

.location-flex .time {
  color: rgb(230, 213, 86);
  text-align: center;
  font-size: 1rem;
  /* padding-top: 5px; */
  font-weight: 900;
  /* font-family: monospace; */
  text-shadow: 2.8px 2.8px rgba(50, 50, 70, 0.5);
}

.weather-box {
  margin: 20px 0px;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
}

.temp-and-weather {
  display: flex;
  align-items: center;
  justify-content: center;
}

.temperature {
  text-align: center;
  border-radius: 15px;
  line-height: 20px;
  background-color: rgba(255, 255, 255, 0.263);
  padding: 35px 25px;
  /* margin: 0px 10px 10px 0px; */
  box-shadow: 2px 4px rgba(0, 0, 0, 0.23);
}

.weather {
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: 500;
  background-color: rgba(180, 203, 112, 0.16);
  /* margin: 0px 10px 10px 0px; */
  margin-left: 10px;
  box-shadow: 2px 4px rgba(0, 0, 0, 0.23);
  border-radius: 15px;
}

.weather p {
  padding: 10px 15px;
}


.temp {
  margin: 20px auto;
  /* color: #000000; */
  color: rgba(35, 0, 0, 0.859);
  font-size: 3.2rem;
  font-weight: 700;
  text-shadow: 1.4px 1.4px rgba(50, 50, 70, 0.5);
  
}

.feels-like {
  font-size: 0.8rem;
  color: #000;
}

.feels-like span {
  color: rgb(254, 242, 150);
  font-weight: 500;
  font-size: 1rem;
}

/* .min-max,
.wind {
  display: flex;
  flex-direction: column;
  color: #fff;
} */

.humidity-wind-container {
  /* display: flex; */
  /* flex-wrap: wrap;
  justify-content: space-around; */
  /* flex-direction: column; */
  /* padding: 15px 0px; */
  margin: 10px 0px;

  color: #fff;
  /* width: 60%; */
  /* margin: 0 auto; */
  
}

.min-max {
  display: flex;
  /* text-align: center; */
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  /* flex-wrap: wrap;
  
  /* border-radius: 15px;
  padding: 15px 20px;
  margin: 0px 10px 10px 0px;
  box-shadow: 2px 4px rgba(0, 0, 0, 0.23); */
  background-color: rgba(24,24,27,0.6);
  /* text-align: center; */
  padding: 20px;
  margin-top: 10px;
  
  position: fixed;
  bottom: 25px;
  right: 0;
  left: 0;
}

.left-arrow,
.right-arrow {
  position: fixed;
  display: none;
}

.left-arrow {
  left: 0;
  background: rgba(0, 0, 0, .5);
  padding: 10px;
}
.right-arrow {
  right: 0;
  background: rgba(0, 0, 0, .5);
  padding: 10px;
}

.max-temp,
.min-temp,
.pressure,
.humidity,
.speed,
.deg,
.sunrise,
.sunset {
  border-radius: 15px;
  text-align: center;
  font-size: 0.8rem;
  background-color: rgba(255, 255, 255, 0.064);
  padding: 10px 20px;
  margin: 0px 3px;
  /* margin: 0px 10px 10px 0px; */
  box-shadow: 2px 4px rgba(0, 0, 0, 0.23);
}


.humidity-wind-container img
 {
  width: 60px;
  height: 60px;
}

.weather img {
  width: 100%;
  height: 100px;
  border-radius: 15px 15px 0px 0px;
}

.bird-flying img {
  width: 40%;
  height: 300px;
  animation: birds 20s linear infinite;
}









h1 i {
  font-size: 0.9rem;
  color: rgb(191, 174, 174);
  animation: cloud 5s ease-in-out infinite;
  text-shadow: 4.4px 4.4px rgba(50, 50, 70, 0.5);
  padding-left: 2px;
  font-size: 1rem;
}


.main-box {
  position: relative;
}

.moving-cloud-big {
  position: absolute;
  top: 20px;
  left: 30px;
  font-size: 3.4rem;
  color: rgba(215, 211, 211, 0.421);
  text-shadow: 9.4px 7.4px rgba(50, 50, 70, 0.249);
  animation: moving-cloud-big 320s linear infinite;
}

.moving-cloud-top i:nth-of-type(1) {
  position: absolute;
  top: -10px;
  font-size: 2.8rem;
  color: rgba(215, 211, 211, 0.66);
  animation: moving-cloud-top 160s ease-out infinite;
}

.moving-cloud i:nth-of-type(1) {
  position: absolute;
  top: 205px;
  color: rgba(215, 211, 211, 0.667);
  font-size: 2.4rem;
  left: 45px;
  /* text-shadow: 7.4px 4.4px rgba(50, 50, 70, 0.5); */

  animation: moving-cloud 70s ease-out infinite;
}

.moving-cloud i:nth-of-type(2) {
  position: absolute;
  top: 230px;
  left: 80px;
  color: rgb(169, 154, 154);
  font-size: 1.3rem;
  /* text-shadow: 7.4px 4.4px rgba(50, 50, 70, 0.5); */

  animation: moving-cloud 70s ease-out infinite;
}

.error-msg {
  text-align: center;
  color: rgb(36, 10, 16);
  padding-top: 30px;
}

footer {
  padding: 10px;
  font-size: 0.7rem;
  
  color: white;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  /* background-color: rgba(255, 255, 255, 0.064); */
}

a {
  text-decoration: none;
  color: #fff;
  
}




@keyframes cloud {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0px);
  }
}


@keyframes moving-cloud {
  from {
    transform: translateX(10vw);
  }

  to {
    transform: translateX(80vw);
  }
}


@keyframes moving-cloud-big {
  from {
    transform: translateX(10vw);
  }

  to {
    transform: translateX(80vw);
  }
}


@keyframes moving-cloud-top {
  from {
    transform: translateX(80vw);
  }

  to {
    transform: translateX(10vw);
  }
}


@keyframes birds {
  from {
    transform: translateX(65vw);
  }

  to {
    transform: translateX(05vw);
  }
}


@media (max-width: 895px) {
  .min-max {
    justify-content: start;
		align-items: none;
		overflow: scroll;
  }

  .right-arrow,
  .left-arrow {
    display: block;
  }
}

@media (max-width: 787px) {
  .search-box .search-bar {
    width: 70%;
  }
}


@media (max-width: 556) {
  .search-box .search-bar {
    width: 90%;
  }

  .bird-flying img {
    width: 70%;
  }
}


@media (max-width: 450px) {

  .location-box .location {
    font-size: 1.2rem;
  }  

  .location-flex .date,
  .location-flex .time,
  .feels-like span,
  .weather {
    font-size: 0.9rem;
  }

  .temperature {
    padding: 24px 15px;
  }

  .temp {
    font-size: 2.4rem;
  }
  .feels-like {
    font-size: 0.8rem
  }

  .weather img {
    height: 80px;
  }

  .bird-flying img {
    width: 75%;
  }




}




